@import './components/Header/materialsComponent/materials.scss';
@import './components/Main/Main.scss';
@import './components/Slider/Slider.scss';
@import './components/Menu/Menu.scss';
@import './components/Header/Shopingcart/ShopingCart.scss';
@import './components/Header/MenuConstructor/MenuConstr.scss';


* {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100;
}

.main-content {
  margin-top: 60px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

nav li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li:not(:last-child) {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}